{{ if gt (len site.Languages) 1 }}
<span class="lang-switch label">
  {{ range site.Languages }}
    {{ $lang := . }}
    {{ if eq $lang.Lang site.Language.Lang }}
      <span class="current" aria-current="true">{{ $lang.Lang | upper }}</span>
    {{ else }}
      {{ $link := printf "/%s/" $lang.Lang }}
      {{ range $.AllTranslations }}{{ if eq .Language.Lang $lang.Lang }}{{ $link = .RelPermalink }}{{ end }}{{ end }}
      <a href="{{ $link }}">{{ $lang.Lang | upper }}</a>
    {{ end }}
  {{ end }}
</span>
{{ end }}
